---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const pages = await getCollection('blog');

  return pages.map(page => {
    const [lang, ...slug] = page.id.split('/');
    return { params: { lang, slug: slug.join('/') || undefined }, props: page };
  });
}

const { lang } = Astro.params;
const page = Astro.props;
const { Content } = await render(page);
---

<BaseLayout>
  <h1>{page.data.title}</h1>
  <p>by {page.data.author} - {page.data.date.toLocaleDateString(lang)}</p>
  <Content />
</BaseLayout>
