---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import BaseLayout from "../layouts/BaseLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout>
  <h1>{t('nav.home')}</h1>
</BaseLayout>
