@import 'tailwindcss';

@theme {
	/* font-family */
	--font-sans:
		'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: 'Space Grotesk', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	/* colors */
	--color-*: initial;
	--color-primary-50: #e4ecfb;
	--color-primary-100: #cad9f7;
	--color-primary-200: #94b3ef;
	--color-primary-300: #6893e9;
	--color-primary-400: #356ad4;
	--color-primary-500: #1a4db2;
	--color-primary-600: #164197;
	--color-primary-700: #12367d;
	--color-primary-800: #0e2a62;
	--color-primary-900: #0a2047;
	--color-primary-950: #08193a;
	--color-base-light: #ffffff;
	--color-base-dark: #141414;
	--color-feedback-success: #1b5e20;
	--color-feedback-success-light: #effbf0;
	--color-feedback-warning: #cc4e0b;
	--color-feedback-warning-light: #fdebe2;
	--color-feedback-error: #9b0808;
	--color-feedback-error-light: #fdeded;
	--color-gray-50: #f9fafb;
	--color-gray-100: #e0e4eb;
	--color-gray-200: #c8cfda;
	--color-gray-300: #afb9ca;
	--color-gray-400: #97a4ba;
	--color-gray-500: #7e8fa9;
	--color-gray-600: #667a99;
	--color-gray-700: #566681;
	--color-gray-800: #455268;
	--color-gray-900: #353f50;
	--color-gray-950: #252b37;
	/* font-size */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.75rem;
	--text-4xl: 2rem;
	--text-5xl: 2.25rem;
	--text-6xl: 2.5rem;
	--text-7xl: 2.75rem;
	--text-8xl: 3rem;
	--text-9xl: 3.5rem;
	--text-10xl: 4rem;
}

/* --- Font Declarations --- */
/* Sans Family */
@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:
		url('/fonts/sans/PlusJakartaSans-Light.woff2') format('woff2'),
		url('/fonts/sans/PlusJakartaSans-Light.woff') format('woff');
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src:
		url('/fonts/sans/PlusJakartaSans-LightItalic.woff2') format('woff2'),
		url('/fonts/sans/PlusJakartaSans-LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url('/fonts/sans/PlusJakartaSans-Regular.woff2') format('woff2'),
		url('/fonts/sans/PlusJakartaSans-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src:
		url('/fonts/sans/PlusJakartaSans-Italic.woff2') format('woff2'),
		url('/fonts/sans/PlusJakartaSans-Italic.woff') format('woff');
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		url('/fonts/sans/PlusJakartaSans-Medium.woff2') format('woff2'),
		url('/fonts/sans/PlusJakartaSans-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src:
		url('/fonts/sans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
		url('/fonts/sans/PlusJakartaSans-SemiBold.woff') format('woff');
}

/* Serif Family */
@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url('/fonts/serif/SpaceGrotesk-Regular.woff2') format('woff2'),
		url('/fonts/serif/SpaceGrotesk-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		url('/fonts/serif/SpaceGrotesk-Bold.woff2') format('woff2'),
		url('/fonts/serif/SpaceGrotesk-Bold.woff') format('woff');
}

@layer base {
	* {
		@apply font-sans;
	}

	body {
		@apply text-base/5 font-light;
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	.title-display {
		@apply font-normal;
	}
	.title-display {
		@apply text-10xl/18 font-serif tracking-wide;
	}
	h1,
	.h1 {
		@apply text-5xl/11;
	}
	h2,
	.h2 {
		@apply text-4xl/10;
	}
	h3,
	.h3 {
		@apply text-3xl/9;
	}
	h4,
	.h4 {
		@apply text-2xl/8;
	}
	h5,
	.h5 {
		@apply text-xl/7;
	}
	h6,
	.h6 {
		@apply text-lg/6;
	}

	p,
	.paragraph {
		@apply text-base/6;
	}
	a,
	.link {
		@apply font-medium;
	}
	blockquote,
	q,
	.quote {
		@apply italic;
	}
	.small {
		@apply text-sm/4;
	}
	.mini {
		@apply text-xs/3;
	}

	*.text-focus {
		@apply font-medium;
	}
	h1.text-focus,
	.h1.text-focus,
	h2.text-focus,
	.h2.text-focus,
	h3.text-focus,
	.h3.text-focus,
	h4.text-focus,
	.h4.text-focus,
	h5.text-focus,
	.h5.text-focus,
	h6.text-focus,
	.h6.text-focus {
		@apply font-semibold;
	}
	.title-display.text-focus {
		@apply font-bold;
	}
	blockquote.text-focus,
	q.text-focus,
	.quote.text-focus {
		@apply font-normal;
	}
}
