---
import BaseHead from "../components/BaseHead.astro";
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

const { title, description } = Astro.props;
---
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description}/>

    <slot name="head"></slot>
  </head>

  <body>
    <slot />
  </body>
  
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>
